img {
  display: block;
  margin: auto;
}

.small {
  height: 10rem;
  object-fit: cover;
}

.large {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background: black;
}

ion-icon {
  font-size: 1.3rem;
}
