<ion-content>
  <main>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title>Enter Marks</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onAddMarksheet(form)" #form="ngForm" *ngIf="user">
          <ion-item>
            <ion-label position="floating">Select Subject*</ion-label>
            <ion-select name="subject" required ngModel>
              <ion-select-option [value]="s.class+'*'+s.section+'*'+s.subject" *ngFor="let s of user.subjects">{{
                s.subject }} For {{ s.class }} '{{ s.section | uppercase }}'</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Enter Exam Title*</ion-label>
            <ion-input name="title" ngModel required></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="stacked">Upload Marksheet*</ion-label>
            <ion-input type="file" name="file" (change)="handleFileInput($event.target)" accept="application/pdf" required ngModel>
            </ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Select Date*</ion-label>
            <ion-datetime name="date" ngModel required [max]="date"></ion-datetime>
          </ion-item>
          <br>
          <ion-button expand="full" mode="ios" type="submit" [disabled]="!form.valid">Upload Marksheet</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <br>
    <ng-container *ngIf="marksheets; else load">
      <ion-card *ngFor="let ms of marksheets" mode="ios">
        <ion-card-header mode="md">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col size="3" class="ion-text-center">
                <ion-icon name="calendar" size="large"></ion-icon>
                <br>
                <small>{{ ms.date | date }}</small>
              </ion-col>
              <ion-col size="9" class="ion-text-center">
                <ion-card-title>{{ ms.title | uppercase }}</ion-card-title>
                <br>
              </ion-col>
              <ion-col size="12">
                <br>
                <a [href]="getSafeUrl(ms.file)" target="_blank">
                  <ion-button expand="full" size="small" mode="ios">VIEW</ion-button>
                </a>
                <ion-button size="small" expand="full" color="danger" mode="ios" (click)="onDelete(ms.id)">Delete</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </ng-container>

    <ng-template #load>
      <ion-card mode="ios" *ngFor="let x of [].constructor(10)">
        <ion-card-header mode="md">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col size="3" class="ion-text-center">
                <ion-icon name="calendar" size="large"></ion-icon>
                <br>
                <small>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </small>
              </ion-col>
              <ion-col size="9" class="ion-text-center">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 60%; height: 1rem; margin: auto;"></ion-skeleton-text>
                </ion-card-title>
                <br>
              </ion-col>
              <ion-col size="12">
                <br>
                <ion-skeleton-text animated style="width: 100%; height: 2rem;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </ng-template>
  </main>
</ion-content>
