<ion-content>
  <main>
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title>Change Password</ion-card-title>
      </ion-card-header>

      <ion-card-content mode="md">
        <form (ngSubmit)="onChangePassword(form)" #form="ngForm">
          <ion-item>
            <ion-label position="floating">Enter Current Password*</ion-label>
            <ion-input name="cpass" type="password" ngModel required></ion-input>
          </ion-item>
          <br>

          <ion-item>
            <ion-label position="floating">Enter New Password*</ion-label>
            <ion-input name="npass1" type="password" ngModel required minlength="8" [(ngModel)]="npass1"></ion-input>
          </ion-item>
          <small class="invalid-feedback" *ngIf="npass1">Password length must be greater than 7.</small>
          <br>

          <ion-item>
            <ion-label position="floating">Confirm New Password*</ion-label>
            <ion-input name="npass2" type="password" ngModel required minlength="8" [(ngModel)]="npass2"></ion-input>
          </ion-item>
          <small class="invalid-feedback" *ngIf="npass2 && (npass1 !== npass2)">Passwords do not match.</small>
          <br>

          <ion-button type="submit" expand="full" [disabled]="!form.valid || (npass1 !== npass2)">Change</ion-button>
          <br>
          <ion-text color="danger" class="ion-text-center" style="user-select: none; cursor: pointer;" (click)="onForgot()">
            <p><b>Forgot Password</b></p>
          </ion-text>
        </form>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
