<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <main>
    <ng-container *ngIf="user">
      <div class="slide-container">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let img of user.sliders">
            <div class="slide-img">
              <img [src]="path + img.image" alt="">
            </div>
          </ion-slide>
        </ion-slides>
        <div class="school-logo">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <img [src]="path + user.school.logo" alt="">
              </ion-col>
              <ion-col size="8">
                <h3 class="ion-text-center">{{ user.school.name }}</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <h2 class="ion-text-center">Welcome, {{ user.teacher.name }}</h2>

      <ion-grid>
        <ion-row>

          <ion-col [size]="user.teacher['class-teacher']==1 ? 4 : 12">
            <div class="tile ion-text-center blue" routerLink="/profile">
              <ion-icon name="person" size="large"></ion-icon>
              <h5>Profile</h5>
            </div>
          </ion-col>

          <ion-col size="8" *ngIf="user.teacher['class-teacher']==1">
            <div class="tile ion-text-center red flip" routerLink="/attendance">
              <ion-icon name="list" size="large"></ion-icon>
              <h5>Attendance</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center green" routerLink="/school">
              <ion-icon name="school" size="large"></ion-icon>
              <h5>My School</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center indigo" routerLink="/messages">
              <ion-icon name="chatbubble" size="large"></ion-icon>
              <h5>Messages</h5>
              <div class="indicator" *ngIf="notifications.message > 0"></div>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center sky" routerLink="/diary">
              <ion-icon name="document-text" size="large"></ion-icon>
              <h5>Diary</h5>
            </div>
          </ion-col>

          <ion-col [size]="user.teacher['class-teacher']==1 ? 6 : 12">
            <div class="tile ion-text-center blue flip" routerLink="/syllabus">
              <ion-icon name="bookmarks" size="large"></ion-icon>
              <h5>View Syllabus</h5>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="user.teacher['class-teacher']==1">
            <div class="tile ion-text-center red flip" routerLink="/requests">
              <ion-icon name="hand-left" size="large"></ion-icon>
              <h5>Raised Requests</h5>
              <div class="indicator" *ngIf="notifications.request > 0"></div>
            </div>
          </ion-col>

          <ion-col size="8">
            <div class="tile ion-text-center yellow" routerLink="/notice">
              <ion-icon name="notifications" size="large"></ion-icon>
              <h5>Notice Board</h5>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="tile ion-text-center green" routerLink="/calendar">
              <ion-icon name="calendar" size="large"></ion-icon>
              <h5>Calendar</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center sky flip" routerLink="/timetable">
              <ion-icon name="alarm" size="large"></ion-icon>
              <h5>Timetable</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center red" routerLink="/marksheets">
              <ion-icon name="clipboard" size="large"></ion-icon>
              <h5>Marksheet</h5>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="tile ion-text-center blue" routerLink="/e-id">
              <ion-icon name="id-card" size="large"></ion-icon>
              <h5>E-ID</h5>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="tile ion-text-center green" routerLink="/schedule">
              <ion-icon name="reader" size="large"></ion-icon>
              <h5>Exam Schedule</h5>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="tile ion-text-center indigo flip" routerLink="/library">
              <ion-icon name="book" size="large"></ion-icon>
              <h5>Library</h5>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="tile ion-text-center red" routerLink="/bmi">
              <ion-icon name="calculator" size="large"></ion-icon>
              <h5>BMI</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center sky" routerLink="/gallery">
              <ion-icon name="images" size="large"></ion-icon>
              <h5>Gallery</h5>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="tile ion-text-center yellow" routerLink="/tuitions">
              <ion-icon name="bookmark" size="large"></ion-icon>
              <h5>Tuitions</h5>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="tile ion-text-center indigo flip" routerLink="/opinions">
              <ion-icon name="thumbs-up" size="large"></ion-icon>
              <h5>Opinion Poll</h5>
            </div>
          </ion-col>

          <ion-col size="6">
            <div class="tile ion-text-center blue" routerLink="/password">
              <ion-icon name="key" size="large"></ion-icon>
              <h5>Change Password</h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-container>
  </main>
</ion-content>
